
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background:#f9f9f9;;
  color: #333;
  line-height: 1.7;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding: 30px;
}

header {
  background linear-gradient(135deg, #004d7a, #00aaff);
  color: white;
  text-align: center;padding: 60px 20px;
  padding: 60px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}


.profile-pic {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: -20px;
}

.profile-pic img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}


section h2 {
  color: #004d7a;
  margin-bottom: 10px;
}

ul {
  list-style-type: square;
  margin-left: 20px;
  margin-top: 10px;
}

.project-card {
  background: white;
  border-left: 4px solid #004d7a;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

footer {
  margin-top: 40px;
  padding: 10px;
  text-align: center;
  font-size: 0.9em;
  color: #666;

}
.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 10px 15px;
  font-size: 1em;
  background: #004d7a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: none;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  transition: background 0.3s ease, transform 0.2s ease;
}

.back-to-top:hover {
  background: #00aaff;
  transform: scale(1.1);
}


